$primaryColor: #33cc33;

#info {
  color: #000000;
  background: #c8ffe7;
  margin: 10%;
  border-style: solid;
  border-color: #3b3f54;
  border-width: 3px;

}

#warning {
  color: #0000fe;
  background: #ffc149;
  margin: 10%;
}

#javanote {
  color: #0000fe;
  background: #c9eeff;
  margin: 10%;
}

#kotlinnote {
  color: #0000fe;
  background: #d7c2d8;
  margin: 10%;
}

.wiggly {
  color: #c8ffe7;
  background: #9dbed8;
  margin: 20%;
}