.gradle
.idea
.settings
bin
build
logs
out
docs/_build

*.iml
*.ipr
*.iws
.classpath
.project

_book

deps.txt

settings.gradle~
.gitattributes~
build.gradle~
.gitignore~
README.md~

*.properties~



node_modules